{% extends "base.html" %}
{% block titulo %}
  Inicio
{% endblock titulo %}

{% block imagen %}
<!-- {% load static %}
  <img src="{% static 'imgs/fondo5.jpg' %}" alt="" style="position:absolute; z-index:0; width:100%; height:100%; opacity: 0.5"> -->
<style>
  body {
    background: #d7d5d3;
  }
</style>
{% endblock imagen %}

{% load static %}
{% block estilos %}
<!-- <link rel="stylesheet" href="{% static 'css/base_in1.css' %}"> -->

{% endblock%}


{% block contenido %}
<nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark  bg-primary ">
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <a class="navbar-brand" href="#">Control de Hielo de Empacadora Litoral</a>
    </li>
  </ul>
  <ul class="nav navbar-nav m-0 ">

    <li class="nav-item ">
      <a class="navbar-brand" href="#">Bienvenido, {{user.get_full_name}}</a>

    </li>
  </ul>
</nav>


<br>

<div class="container-fluid row mt-5">



  {% if perms.prestamos.view_prestamoequipo %}
  <div class="col-md-3 mb-4">
    <div class="card ">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'prestamos:prestamos-url' %}" uk-tooltip="{{prestamos}} prestamos de equipo activos"><strong class="loading">Préstamo de equipo </strong><span
            class="badge badge-primary badge-pill">{{prestamos}}</span></a><br>
        <a uk-tooltip="{{prestamos}} prestamos de equipo activos" href="{% url 'prestamos:prestamos-url' %}" class="loading align-items-center"><img
            src="{% static 'imgs/reserva.png' %}" width="40%" alt=""></a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if perms.remision.view_remision %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'remision:remision-url' %}" uk-tooltip="{{remisiones}} notas de remisión de hielo activas"><strong class="loading">Remisiones </strong><span
            class="badge badge-primary badge-pill">{{remisiones}}</span></a><br>
        <a uk-tooltip="{{remisiones}} notas de remisión de hielo activas" href="{% url 'remision:remision-url' %}" class="loading align-items-center"><img
            src="{% static 'imgs/remision.png' %}" width="38%" alt=""></a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if perms.camaron.view_cosecha %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'camaron:cosechas-url' %}"><strong class="loading">Camarón </strong></a><br>
        <a href="{% url 'camaron:cosechas-url' %}" class="loading align-items-center"><img
            src="{% static 'imgs/camaron.png' %}" width="40%" alt=""></a>
      </div>
    </div>
  </div>
  {% endif %}

  {% if perms.hielo_proceso.view_hieloproceso %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'hielo_proceso:dias-url' %}"><strong class="loading">Hielo </strong></a><br>
        <a href="{% url 'hielo_proceso:dias-url' %}" class="loading align-items-center"><img
            src="{% static 'imgs/hielo.png' %}" width="40%" alt=""></a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if perms.equipo.view_equipo %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'equipo:equipo-url' 2 %}"><strong class="loading">Bines y Equipo </strong></a><br>
        <a href="{% url 'equipo:equipo-url' 2 %}" class="loading align-items-center"><img src="{% static 'imgs/almacen.png' %}"
            width="52%" alt=""></a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if perms.compania.view_compania %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'compania:compania-url' 2 %}"><strong class="loading">Empresas </strong></a><br>
        <a href="{% url 'compania:compania-url' 2 %}" class="loading align-items-center"><img
            src="{% static 'imgs/compania2.png' %}" width="40%" alt=""></a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if perms.vehiculo.view_vehiculo %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'vehiculo:vehiculos-url' %}"><strong class="loading">Vehículos </strong></a><br>
        <a href="{% url 'vehiculo:vehiculos-url' %}" class="loading align-items-center"><img
            src="{% static 'imgs/vehiculo.png' %}" width="40%" alt=""></a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if perms.conductor.view_conductor %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'conductor:conductores-url' %}"><strong class="loading">Motoristas </strong></a><br>
        <a href="{% url 'conductor:conductores-url' %}" class="loading align-items-center"><img
            src="{% static 'imgs/conductor.png' %}" width="56%" alt=""></a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if perms.empleado.view_empleado %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'empleado:empleados-url'  %}"><strong class="loading">Empleados </strong></a><br>
        <a href="{% url 'empleado:empleados-url'  %}" class="loading align-items-center"><img
            src="{% static 'imgs/empleado.png' %}" width="40%" alt=""></a>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <a href="{% url 'seguridad:log_out-url'%}"><strong class=" text-black-50">Cerrar Sesión </strong></a><br>
        <a href="{% url 'seguridad:log_out-url'%}" class="loading align-items-center"><img
            src="{% static 'imgs/cerrarsesion.png' %}" width="40%" alt=""></a>
      </div>
    </div>
  </div>



</div>
<!-- <div>
  <br>
  <br>
</div> -->
<!-- <div id="resultado"></div>
<div id="camera"></div>
 -->

{% endblock %}
{% load static %}
{% block script %}
 <!-- <script src="{%static 'js/quagga/quagga.min.js'%}"></script> -->

<script>
    $(document).ready(function() {
      // executes when HTML-Document is loaded and DOM is ready
       
     
       $( ".card" ).hover(
       function() {
         $(this).addClass('shadow').css('cursor', 'pointer'); 
         $(this).addClass('alert-info').css('cursor', 'pointer'); 
       }, function() {
         $(this).removeClass('shadow');
         $(this).removeClass('alert-info');
       }
     );
       
     // document ready  
     });
  /*Quagga.init({
    inputStream: {
      name: "Live",
      type: "LiveStream",
      target: document.querySelector('#camera') // Or '#yourElement' (optional)
    },
    decoder: {
      readers: ["code_128_reader"]
    }
  }, function (err) {
    if (err) {
      console.log(err);
      return
    }
    console.log("Initialization finished. Ready to start");
    Quagga.start();
  });

  Quagga.onDetected(function (data) {
    console.log(data.codeResult.code);
    document.querySelector('#resultado').innerText = data.codeResult.code;
  });*/
</script>
{% endblock script %}