{% extends "base_in.html" %}
{% block titulo %}
Consumo diario
{% endblock titulo %}
{% block l8 %}
bg-success
{% endblock l8 %}
{% block cuerpo %}
	<div class=" card container">
		<div class="card-body">
			<div id="container2" data-mes="{{mes}}" data-anio="{{anio}}" data-url="{% url 'hielo_proceso:grafico_mensual-url' %}"></div>
			</div>
		</div>
	</div>

	
{% endblock cuerpo %}
{% load static %}
{% block script %}
<script src="{% static 'js/highcharts/highcharts.js'%}"></script>
<script src="{% static 'js/highcharts/exporting.js'%}"></script>
<script src="{% static 'js/highcharts/highcharts-more.js'%}"></script>
<script src="{% static 'js/graficosHieloProceso.js'%}"></script>
{% endblock script %}

