{% extends "base_in.html" %}
{% block titulo %}
Consumo por mes
{% endblock titulo %}
{% block l8 %}
bg-success
{% endblock l8 %}
{% block cuerpo %}
	<div class=" card container">
		<div class="card-body">
			
			<div id="container" data-url="{% url 'hielo_proceso:data-url' %}"></div>
			</div>
		</div>
	

	
{% endblock cuerpo %}
{% load static %}
{% block script %}
<script src="{% static 'js/highcharts/highcharts.js'%}"></script>
<script src="{% static 'js/highcharts/exporting.js'%}"></script>
<script src="{% static 'js/highcharts/highcharts-more.js'%}"></script>
<script src="{% static 'js/graficosHieloProceso.js'%}"></script>
{% endblock script %}



