/* body{background:#D7D5D3;} */
#wrapper{padding:30px 0px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
/* Targetas con efecto */
.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }

/* SOMBREADO DE LA BARRA SUPERIOR */
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}

/* CUANDO EL NAVEGADOR SE MINIMIZA OCULTA LOS ICONOS SECUNDARIOS */
.leftmenutrigger, .navbar-nav li a .shortmenu{display: none}

/* TITULO DE LAS TARGETAS */
.card-title{ font-size: 28px}


@media(min-width:992px) {

/* MANTIENE EL CONTENIDO BAJO EL SLIDENAV */
#wrapper{padding: 60px 5px 5px 75px; }

/* CREA EL EFECTO DE MOSTRAR EL MENU DESPLEGABLE LATERAL */
.navbar-nav.side-nav:hover {left:0;width:200px}

/* CREA LAS DISTANCIAS ENTRE LOS ELEMENTOS DEL MENU DESPLEGABLE LATERAL */
.side-nav li a {padding: 10px}

/* Muestra los iconos en el Menu Desplegable Lateral cuando esta contraido  */
.navbar-nav li a .shortmenu {float: right;display: block;opacity: 1}

/*OCULTA LOS ICONOS DEL MENU DESPLEGABLE LATERAL CUANDO ESTA VISIBLE  */
.navbar-nav.side-nav:hover li a .shortmenu{opacity: 0}

/* COLORES Y DISEÑOS DEL MENU DESPLEGABLE LATERAL */
.navbar-nav.side-nav{background: #7a7d81;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:56px;flex-direction: column!important;left:-240px;width:300px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}

}

/* EFECTO DE DESPLAZAMIENTO AL MENU DESPLEGABLE LATERAL */
.animate{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}


.navbar-nav li a svg{font-size: 25px;float: left;margin: 0 10px 0 5px;}

/* SEPARADORES EN EL MENU DESPLEGABLE LATERAL */
.side-nav li { border-bottom: 1px solid #53575a;}




/* 22222222222    22222222222    222222222222  2222222222222   2222222222222   2222222222222 */
.circulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 101;
  }
  
  .loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 15px solid #48545f;
    border-top: 15px solid #047bff;
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  .pantalla {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.5;
  }
  
/* 22222222222     22222222222    222222222222  2222222222222   2222222222222   2222222222222 */
