{% extends "base_in.html" %}
{% block titulo %}
Vehiculos
{% endblock titulo %}
{% block l5 %}
bg-success
{% endblock l5 %}
{% block cuerpo %}
<div class="card text-center">
    
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">

            {% if perms.vehiculo.add_vehiculo or perms.vehiculo.change_vehiculo%}
            <li class="nav-item">
                <a class="loading nav-link {{ clases.o1 }}"
                    href="{%if perms.vehiculo.add_vehiculo and not editar%}{% url 'vehiculo:crear-url' %}{%endif%}">Gestión
                    de Vehículo</a>
            </li>
            {% endif %}


            <li class="nav-item">
                <a class="loading nav-link {{ clases.o2 }}" href="{% url 'vehiculo:vehiculos-url' %} ">Vehículos</a>
            </li>

        </ul>
    </div>
    <div class="card-body">
        <h4 class="mb-1"><strong>

            {% if crear %}
            Nuevo Vehículo
            {% elif editar%}
            Editar Vehículo {{vehiculo}}
            {% elif listado%}
            Vehículos
            {% endif %}</strong>

        </h4>
        <div style="{{estilos.o1}}">

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible ">Error: {{ message|escape }}</div>
            <!--data-dismiss="alert"-->
            {% endfor %}
            {% endif %}
            <p class="small text-left mt-0 mb-0"><i class="fas fa-info"></i> <strong class="text-warning">Campo con borde color amarillo es requerido.</strong></p>
            <form method="post" id="formRemision">
                <input type="hidden" name="crear" id="crear" value="{{ crear }}">
                {% csrf_token %}
                <div class="row container ">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                        <label for="">Placa:</label>
                        {{vehiculo_form.placa}}
                        <br>

                        <label for="">Marca:</label>
                        {{vehiculo_form.marca}}
                        <br>

                        <label for="">Modelo:</label>
                        {{vehiculo_form.modelo}}
                        <br>

                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                        <label for="">Año:</label>
                        {{vehiculo_form.anio}}
                        <br>

                        <label for="">Color:</label>
                        {{vehiculo_form.color}}
                        <br><br>

                        <label for="">Empresa:</label>
                        <div class="input-group">
                            {{vehiculo_form.empresaFlete}}
                            {% if perms.compania.add_compania %}
                            <a id="agregarEmpresa" data-url="{% url 'compania:agregar-empresa-url' %}"
                                class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2 "></a>
                            {%endif%}

                        </div>
                        <br><br>

                    </div>
                </div>
                <br>
                 <button type="submit"  class="btn btn-success">{% if crearCompania%}<i class="fas fa-save"></i> Guardar{% else %}<i class="fas fa-edit"></i> Modificar{% endif %}</button>
                <a href="{% url 'vehiculo:vehiculos-url'%} "class="loading btn btn-secondary"><i class="fas fa-window-close"></i> Cancelar</a>               
            </form>




        </div>
        <div style="{{estilos.o2}}" class="table-responsive">
        
                    {% if perms.vehiculo.add_vehiculo %}
                    <i id="add_vehiculo"></i>
                    {% endif %}
            <div class="table-responsive">
                <table id="tablajs" class="table table-striped table-hover table-bordered" width='100%'>
                    <thead class="thead-inverse">
                        <tr>
                            <th data-priority="1">Placa</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Color</th>
                            <th>Empresa</th>
                            <th>Estado</th>
                            <th data-priority="2">Acciones</th>
                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vehiculos %}
                        <tr id="fila-{{v.pk}}">
                            <td>{{ v.placa }}</td>
                            <td>{{ v.marca }}</td>
                            <td>{{ v.modelo }}</td>
                            <td>{{ v.anio }}</td>
                            <td>{{ v.color }}</td>
                            <td>{{ v.empresaFlete }} </td>
                            <td>{% if v.disponible %}
                                Disponible
                            {%else%}
                            Asignado
                            {% endif %}</td>
                            <td>
                                {% if perms.vehiculo.change_vehiculo %}
                                <a id="editar-{{v.pk}}" href="{% url 'vehiculo:modificar-url' v.pk %}"></a>
                                <button class="editarVehiculo btn btn-info fas fa-pen " uk-tooltip="Editar vehículo" data-id="{{ v.pk }}"></button>
                                {% endif %}
                                {% if perms.vehiculo.delete_vehiculo %}
                                <button class="eliminar btn btn-danger fas fa-trash-alt "
                                    data-eliminar="{{v.pk}}" uk-tooltip="Eliminar vehículo"></button>
                                {% endif %}
                            </td>


                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalDetalleCosecha" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Visualización De Nota De Cosecha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalCuerpoCosecha">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fas fa-times" id="cerrarModal" data-dismiss="modal">
                    Cerrar</button>
                <button type="submit" id="imprimir" class="imprimir btn btn-success fas fa-print"></button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Reporte-->
<div class="modal fade" id="modalReporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reporte Mensual</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalCuerpoReporte">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fas fa-times" id="cerrarModal" data-dismiss="modal">
                    Cerrar</button>
                <button class="btn btn-warning fas fa-print" id="imprimirReporte">Imprimir</button>
                <!-- <a href="" class="btn btn-warning fas fa-print" id="imprimirReporte" target="_blank"> Imprimir</a> -->
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalNuevoContenedor" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="guardarNuevo" type="submit" form="formNuevo" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

{% endblock cuerpo %}
{% load static %}
{% block script %}
<script src="{% static 'js/vehiculo.js'%}"></script>
{% endblock script %}