{% extends '../base_in.html' %}

{% block titulo %}
Empresas
{% endblock titulo %}

{% block l4 %}
active
{% endblock l4 %}

{% block cuerpo %}
<div class="card text-center">
    <div class="panel-heading bg-primary">
        <h4 class="panel-title text-light">
            {% if crearCompania %}
            Crear Nueva Empresa
            {% elif editarCompania %}
            Modificar {{nombre}}
            {% elif listadoCompanias %}
            Empresas
            {% elif crearFinca %}
            Crear Nueva Finca
            {% elif editarFinca %}
            Modificar Finca {{finca}}
            {% elif listadoFincas %}
            Fincas
            {% elif crearLaguna %}
            Crear Nueva Laguna
            {% elif editarLaguna %}
            Modificar Laguna {{laguna}}
            {% elif listadoLagunas %}
            Lagunas
            {% endif %}</h4>



    </div>
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">

            {% if perms.compania.add_compania or perms.compania.change_compania %}
            {% if crearCompania or editarCompania %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o1 }}"
                    href="{% if crearCompania %} {% url 'compania:compania-url' 1 %}{% endif %}">Gestion de Empresa</a>
            </li>
            {% endif %}
            {% endif %}

            {% if perms.compania.view_compania %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o2 }}" href="{% url 'compania:compania-url' 2 %}">Empresas</a>
            </li>
            {% endif %}



            {% if perms.compania.add_finca or perms.compania.change_finca %}
            {% if crearFinca or editarFinca %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o3 }} "
                    href="{%if crearFinca%}{% url 'compania:compania-url' 3 %}{%endif%}">Gestion de Finca</a>
            </li>

            {% endif %}
            {% endif %}


            {% if perms.compania.view_finca %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o4 }}" href="{% url 'compania:compania-url' 4 %}">Fincas</a>
            </li>
            {% endif %}


            {% if perms.compania.add_laguna or perms.compania.change_laguna %}
            {% if crearLaguna or editarLaguna %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o5 }}" href="{% if crearLaguna %}
            {% url 'compania:crear_laguna-url' %}
            {% endif %}">Gestión de Laguna</a>
            </li>
            {% endif %}
            {% endif %}


            {% if perms.compania.view_laguna %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o6 }}" href="{% url 'compania:lagunas-url' %}">Lagunas</a>
            </li>
            {% endif %}




        </ul>
    </div>
    <div class="card-body">
        <div style="{{estilos.o1}}">

            <form action=" {% url 'compania:guardar_compania-url' %}" class="row" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_o" value="{{ id_o }}">

                <div class="col-md-6 ">
                    <label for="id_nombre">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Nombre:</font>
                        </font>
                    </label>
                    <p>{{form.nombre}}</p>

                    <label for="id_direccion">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Dirección:</font>
                        </font>
                    </label>
                    <p>{{form.direccion}}</p>

                    <label for="id_abreviatura">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Abreviatura:</font>
                        </font>
                    </label>
                    <p>{{form.abreviatura}}</p>

                    <label for="id_tipoCompania">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Tipo de Compañía:</font>
                        </font>
                    </label>
                    <p>{{form.tipoCompania}}</p>

                    <label for="id_estado" class="text-center">Estado: </label>
                    <div class="pretty p-icon p-round p-pulse">
                        {{form.estado}}
                        <div class="state p-success">
                            <i class="icon mdi mdi-check"></i>
                            <label>Activo</label>
                        </div>
                    </div>
                    <br><br>
                </div>
                <div class=" col-md-6"></div>

                <div class="col-md-6">
                    <a href="{% url 'compania:compania-url' 2 %}" class="btn btn-secondary">Cancelar</a>
                    <input class="btn btn-success" type="submit" value="{% if crearCompania %}
                    Guardar
                    {% else  %}
                    Modificar
                    {% endif %}"><br>
                </div>




            </form>
        </div>
        <div style="{{estilos.o2}}">
            <div class="row">
                <div class="col-md-3 mb-1">
                    {% if perms.compania.add_compania %}
                    <a class="btn btn-success {{ clases.o1 }}" href="{% url 'compania:compania-url' 1 %}">Nueva
                        Empresa</a>
                    {% endif %}
                </div>
            </div>

            <div class="table-responsive">
                <table id="tablajs" class="table table-striped table-hover table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Cod.</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Abreviatura</th>
                            <th>Tipo de Empresa</th>
                            <th>Acción</th>
                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in companias %}
                        <tr id="filaCompania-{{c.pk}}" class="{%if not c.estado %}
                            table-danger
                        {% endif %}">



                            <td>{{ c.id }}</td>
                            <td>{{ c.nombre }}</td>
                            <!-- <td>{{ c.direccion }}</td> -->
                            <td id="estado-{{c.pk}}">
                                {% if c.estado %}
                                Activa
                                {%else%}
                                Inactiva
                                {% endif %}
                            </td>
                            <td>{{ c.abreviatura }}</td>
                            <td>{{ c.tipoCompania.tipo }}</td>
                            <a href=""></a>
                            <td>

                                {% if perms.compania.change_compania %}
                                <a id="editarCompania-{{c.pk}}"
                                    href="{% url 'compania:editar_compania-url' c.id %}"></a>
                                <button class="editarCompania btn btn-info fas fa-pen" data-id="{{c.pk}}"></button>
                                {% endif %}

                                {% if perms.compania.estado_compania %}
                                <button data-id="{{c.pk}}" data-estado='{{c.estado}}' data-nombre="{{c.nombre}}"
                                    class="estadoCompania btn btn-danger fas fa-times"></button>
                                {% endif %}



                            </td>
                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div style="{{estilos.o3}}">
            <form action=" {% url 'compania:guardar_finca-url' %}" class="row" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_o" value="{{ id_o }}">
                <div class="col-md-6">
                    <label class="text-center">Código de Finca:</label>
                    <p>{{form.codFinca}}</p>
                    <label class="text-center">Nombre:</label>
                    <p>{{form.nombre}}</p>
                    <label class="text-center">Abreviatura:</label>
                    <p>{{form.abreviatura}}</p>
                    <label class="text-center">Dirección:</label>
                    <p>{{form.direccion}}</p>
                    <label class="text-center">Empresa:</label>
                    <p>{{form.compania}}</p>

                    <a href="{% url 'compania:compania-url' 4 %}" class="btn btn-secondary">Cancelar</a>
                    <input class="btn btn-success" type="submit" value="Guardar"><br>

                </div>

            </form>
        </div>
        <div style="{{estilos.o4}}">
            <div class="row">

                {% if perms.compania.add_finca %}
                <div class="col-md-3 mb-1">
                    <a class="btn btn-success {{ clases.o1 }}" href="{% url 'compania:compania-url' 3 %}">Nueva
                        Finca</a>
                </div>
                {% endif %}



            </div>
            <div class="table-responsive">
                <table id="tablajs2" class="table table-striped  table-hover table-bordered ">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Código de Finca</th>
                            <th>Nombre</th>
                            <th>Abreviatura</th>
                            <th>Empresa</th>
                            <th>Dirección</th>
                            <th>Acción</th>
                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in fincas %}
                        <tr>
                            <td>{{ f.codFinca }}</td>
                            <td>{{ f.nombre }}</td>
                            <td>{{ f.abreviatura }}</td>
                            <td>
                                {% if f.compania.abreviatura %}
                                {{ f.compania.abreviatura }}
                                {% else %}
                                {{ f.compania.nombre }}
                                {% endif %}
                            </td>
                            <td>{{f.direccion}}</td>
                            <td>

                                {% if perms.compania.change_finca %}
                                <a id="editarFinca-{{f.pk}}" href="{% url 'compania:editar_finca-url' f.codFinca %}">
                                </a>
                                <button data-id="{{f.pk}}" class="editarFinca btn btn-info fas fa-pen"></button>

                                {% endif %}

                            </td>
                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div style="{{estilos.o5}}">


            <form class="row" method="POST">
                {% csrf_token %}
                <input type="hidden" name="crear" id="crearLaguna" value="{{ crearLaguna }}" data-laguna="{{laguna}}">
                <div class="col-md-6">
                    {% if messages %}
                    {% for message in messages %}
                    <p class="alert alert-danger alert-dismissible ">Error: {{ message|escape }}</p>
                    <!--data-dismiss="alert"-->
                    {% endfor %}
                    {% endif %}
                    <label class="text-center">Código de Laguna:</label>
                    <p>{{laguna_form.codLaguna}}</p>
                    <label class="text-center">Tamaño:</label>
                    <p>{{laguna_form.tamano}}</p>
                    <label class="text-center">Ubicación:</label>
                    <p>{{laguna_form.ubicacion}}</p>
                    <label class="text-center">Descripción:</label>
                    <p>{{laguna_form.descripcion}}</p>
                    <label class="text-center">Finca:</label>
                    <p>{{laguna_form.finca}}</p>

                    <a href="{% url 'compania:lagunas-url'  %}" class="btn btn-secondary">Cancelar</a>
                    <input type="button" class="btn btn-success" id="guardarLaguna" value="{% if crearLaguna %}
                    Guardar
                    {% elif editarLaguna %}
                    Modificar
                    {% endif %}"><br>
                    <input type="submit" id="enviarFormularioLaguna" hidden>



                </div>

            </form>
        </div>
        <div style="{{estilos.o6}}">
            <div class="row">

                {% if perms.compania.add_laguna %}
                <div class="col-md-3 mb-1">
                    <a class="btn btn-success {{ clases.o1 }}" href="{% url 'compania:crear_laguna-url'  %}">Nueva
                        Laguna</a>
                </div>
                {% endif %}



            </div>
            <div class="table-responsive">
                <table id="tablajs3" class="table table-striped table-hover table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Cod. Laguna</th>
                            <th>Tamaño</th>
                            <th>Ubicación</th>
                            <th>Descripción</th>
                            <th>Finca</th>
                            <th>Acción</th>
                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in lagunas %}
                        <tr class="">



                            <td>{{ l.pk }}</td>
                            <td>{{ l.tamano }}</td>
                            <!-- <td>{{ c.direccion }}</td> -->
                            <td>{{ l.ubicacion }}</td>
                            <td>{{ l.descripcion }}</td>
                            <td>{{l.finca}} </td>
                            <td>
                                {% if perms.compania.change_laguna %}
                                <a id="editarLaguna-{{l.pk}}" href="{% url 'compania:editar_laguna-url' l.pk %}"></a>
                                <button class="editarLaguna btn btn-info fas fa-pen" data-id="{{l.pk}}"></button>
                                {% endif %}

                            </td>
                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
{% endblock cuerpo %}

{% load static %}
{% block script %}
<script src="{% static 'js/compania.js'%}"></script>
{% endblock script %}