{% extends '../base_in.html' %}

{% block titulo %}
Empresas
{% endblock titulo %}

{% block l4 %}
bg-success
{% endblock l4 %}

{% block css %}
<link rel="stylesheet" href="//cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css">
{% endblock css %}

{% block cuerpo %}
<div class="card text-center">
    
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">

            {% if perms.compania.add_compania or perms.compania.change_compania %}
            {% if crearCompania or editarCompania %}
            <li class="nav-item">
                <a class="loading nav-link {{ clases.o1 }}"
                    href="{% if crearCompania %} {% url 'compania:compania-url' 1 %}{% endif %}">Gestión de Empresa</a>
            </li>
            {% endif %}
            {% endif %}

            {% if perms.compania.view_compania %}
            <li class="nav-item">
                <a class="loading nav-link {{ clases.o2 }}" href="{% url 'compania:compania-url' 2 %}">Empresas</a>
            </li>
            {% endif %}



            {% if perms.compania.add_finca or perms.compania.change_finca %}
            {% if crearFinca or editarFinca %}
            <li class="nav-item">
                <a class="loading nav-link {{ clases.o3 }} "
                    href="{%if crearFinca%}{% url 'compania:compania-url' 3 %}{%endif%}">Gestión de Finca</a>
            </li>

            {% endif %}
            {% endif %}


            {% if perms.compania.view_finca %}
            <li class="nav-item">
                <a class="loading nav-link {{ clases.o4 }}" href="{% url 'compania:compania-url' 4 %}">Fincas</a>
            </li>
            {% endif %}


            {% if perms.compania.add_laguna or perms.compania.change_laguna %}
            {% if crearLaguna or editarLaguna %}
            <li class="nav-item">
                <a class="loading nav-link {{ clases.o5 }}" href="{% if crearLaguna %}
            {% url 'compania:crear_laguna-url' %}
            {% endif %}">Gestión de Laguna</a>
            </li>
            {% endif %}
            {% endif %}


            {% if perms.compania.view_laguna %}
            <li class="nav-item">
                <a class="loading nav-link {{ clases.o6 }}" href="{% url 'compania:lagunas-url' %}">Lagunas</a>
            </li>
            {% endif %}




        </ul>
    </div>
    <div class="card-body">
         <h4 class="mb-1"><strong>{% if crearCompania %}
            Crear Nueva Empresa
            {% elif editarCompania %}
            Modificar {{nombre}}
            {% elif listadoCompanias %}
            Empresas
            {% elif crearFinca %}
            Crear Nueva Finca
            {% elif editarFinca %}Modificar Finca {{finca}}
            {% elif listadoFincas %}
            Fincas
            {% elif crearLaguna %}
            Crear Nueva Laguna
            {% elif editarLaguna %}
            Modificar Laguna {{laguna}}
            {% elif listadoLagunas %}
            Lagunas
            {% endif %}</strong></h4>


        {% if crearCompania or editarCompania %}



        <div style="{{estilos.o1}}">

            <p class="small text-left mt-0 mb-0"><i class="fas fa-info"></i> <strong class="text-warning">Campo con borde color amarillo es requerido.</strong></p>

            <form action=" {% url 'compania:guardar_compania-url' %}" class="row" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_o" value="{{ id_o }}">

                <div class="col-md-6 row">
                    <div class="col-md-12">
                        <label for="">Nombre:</label>
                        {{form.nombre}}
                    </div>
                    <div class="col-md-12">
                        <br>
                        <label for="">Dirección:</label>
                        {{form.direccion}}
                    </div>
                    <div class="col-md-6">
                        <br>
                        <label for="">Abreviatura:</label>
                        {{form.abreviatura}}
                    </div>
                    <div class="col-md-6">
                        <br>
                        <label for="">Tipo de Compañía:</label>
                        {{form.tipoCompania}}
                    </div>
                    <div class="col-md-12">
                        <br>
                        <label for="id_estado" class="text-center">Estado: </label>
                        <br>

                        <div class="pretty p-icon p-round p-pulse">
                            {{form.estado}}
                            <!-- <div class="state p-success">
                                <span class="svg" uk-icon="icon: check"></span>
                                <label>Activo</label>
                            </div> -->

                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label>Activo</label>
                            </div>
                        </div>
                    </div>



                </div>
                <div class=" col-md-6"></div>

                <div class="col-md-6">
                    <br>
                    
                    <button type="submit"  class="btn btn-success">{% if crearCompania%}<i class="fas fa-save"></i> Guardar{% else %}<i class="fas fa-edit"></i> Modificar{% endif %}</button>
                <a href="{% url 'compania:compania-url' 2 %}"class="loading btn btn-secondary"><i class="fas fa-window-close"></i> Cancelar</a>

                </div>




            </form>
        </div>
        {% endif %}

        {% if listadoCompanias %}

        <div style="{{estilos.o2}}">
           
                    {% if perms.compania.add_compania %}
                    <i id="add_compania"></i>
                    {% endif %}
               
            <div class="table-responsive">
                <table id="tablajs" class="table table-striped table-hover table-bordered" width="100%">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Cód.</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Abreviatura</th>
                            <th>Tipo de Empresa</th>
                            <th>Acción</th>
                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in companias %}
                        <tr id="filaCompania-{{c.pk}}" class="{%if not c.estado %}
                            table-danger
                        {% endif %}">



                            <td>{{ c.id }}</td>
                            <td>{{ c.nombre }}</td>
                            <!-- <td>{{ c.direccion }}</td> -->
                            <td id="estado-{{c.pk}}">
                                {% if c.estado %}
                                Activa
                                {%else%}
                                Inactiva
                                {% endif %}
                            </td>
                            <td>{% if c.abreviatura %}
                                {{ c.abreviatura }}
                            {% endif %}</td>
                            <td>{{ c.tipoCompania.tipo }}</td>
                            <a href=""></a>
                            <td>

                                {% if perms.compania.change_compania %}
                                <a id="editarCompania-{{c.pk}}"
                                    href="{% url 'compania:editar_compania-url' c.id %}"></a>
                                <button class="editarCompania btn btn-info fas fa-pen" uk-tooltip="Editar empresa" data-id="{{c.pk}}"></button>
                                {% endif %}

                                {% if perms.compania.estado_compania %}
                                {% if c.estado %}
                                    <button data-id="{{c.pk}}" data-estado='{{c.estado}}' data-nombre="{{c.nombre}}"
                                    class="estadoCompania desactivar btn btn-danger fas fa-times" uk-tooltip="Cambiar estado" id="estadoBoton-{{c.pk}}" ></button>
                                {% else %}
                                <button data-id="{{c.pk}}" data-estado='{{c.estado}}' data-nombre="{{c.nombre}}"
                                    class="estadoCompania activar btn btn-success fas fa-check" uk-tooltip="Cambiar estado" id="estadoBoton-{{c.pk}}"></button>
                                {% endif %}
                                
                                {% endif %}



                            </td>
                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        <p class="text-left mt-2"><strong><i class="fas fa-info"></i></strong> <i class="alert-danger">Empresa Inactiva</i>
                <i class="alert-light">Empresa Activa</i></p>
        </div>

        {% endif %}
        {% if crearFinca or editarFinca %}
        <div style="{{estilos.o3}}">
                        <p class="small text-left mt-0 mb-0"><i class="fas fa-info"></i> <strong class="text-warning">Campo con borde color amarillo es requerido.</strong></p>

            <form action=" {% url 'compania:guardar_finca-url' %}" class="row" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_o" value="{{ id_o }}">
                <div class="col-md-6 ">
                    <div class="row">
                        <div class="col-md-5">
                            <label class="text-center">Código de Finca:</label>
                            {{form.codFinca}}
                        </div>
                        <div class="col-md-7">
                            <label class="text-center">Abreviatura:</label>
                            {{form.abreviatura}}

                        </div>
                        <div class="col-md-12">
                            <br>
                            <label class="text-center">Nombre:</label>
                            {{form.nombre}}
                        </div>
                        <div class="col-md-12">
                            <br>
                            <label class="text-center">Dirección:</label>
                            {{form.direccion}}
                        </div>
                        <div class="col-md-12">
                            <br>
                            <label class="text-center">Empresa:</label>
                            <div class="input-group">
                                {{form.compania}}
                                {% if perms.compania.add_compania %}
                                <a id="agregarEmpresa" data-url="{% url 'compania:agregar-empresa-url' %}"
                                    class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2 "></a>
                                {%endif%}
                            </div>

                        </div>

                    </div>

                    <br>



                    <button type="submit"  class="btn btn-success">{% if crearFinca%}<i class="fas fa-save"></i> Guardar{% else %}<i class="fas fa-edit"></i> Modificar{% endif %}</button>
                <a href="{% url 'compania:compania-url' 4 %}"class="loading btn btn-secondary"><i class="fas fa-window-close"></i> Cancelar</a>
<br>

                </div>

            </form>
        </div>
        {% endif %}

        {% if listadoFincas %}
        <div style="{{estilos.o4}}">
            <div class="row">

                {% if perms.compania.add_finca %}
                <i id="add_finca"></i>
                {% endif %}



            </div>
            <div class="table-responsive">
                <table id="tablajs2" class="table table-striped  table-hover table-bordered " width="100%">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Abreviatura</th>
                            <th>Empresa</th>
                            <th>Dirección</th>
                            <th>Acción</th>
                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in fincas %}
                        <tr>
                            <td>{{ f.codFinca }}</td>
                            <td>{{ f.nombre }}</td>
                            <td>{{ f.abreviatura }}</td>
                            <td>
                                {% if f.compania.abreviatura %}
                                {{ f.compania.abreviatura }}
                                {% else %}
                                {{ f.compania.nombre }}
                                {% endif %}
                            </td>
                            <td>{{f.direccion}}</td>
                            <td>

                                {% if perms.compania.change_finca %}
                                <a id="editarFinca-{{f.pk}}" href="{% url 'compania:editar_finca-url' f.codFinca %}">
                                </a>
                                <button data-id="{{f.pk}}" class="editarFinca btn btn-info fas fa-pen" uk-tooltip="Editar Finca"></button>

                                {% endif %}

                            </td>
                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        {% endif %}
        {% if crearLaguna or editarLaguna %}

        <div style="{{estilos.o5}}">

            <p class="small text-left mt-0 mb-0"><i class="fas fa-info"></i> <strong class="text-warning">Campo con borde color amarillo es requerido.</strong></p>

            <form class="row" method="POST">
                {% csrf_token %}
                <input type="hidden" name="crear" id="crearLaguna" value="{{ crearLaguna }}" data-laguna="{{laguna}}">
                <div class="col-md-6">
                    {% if messages %}
                    {% for message in messages %}
                    <p class="alert alert-danger alert-dismissible ">Error: {{ message|escape }}</p>
                    <!--data-dismiss="alert"-->
                    {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="text-center">Código de Laguna:</label>
                            {{laguna_form.codLaguna}}
                        </div>
                        <div class="col-md-6">
                            <label class="text-center">Tamaño(mts):</label>
                            {{laguna_form.tamano}}
                        </div>
                        <div class="col-md-12">
                            <br>
                            <label class="text-center">Ubicación:</label>
                            {{laguna_form.ubicacion}}
                        </div>
                        <div class="col-md-12">
                            <br>
                            <label class="text-center">Descripción:</label>
                            {{laguna_form.descripcion}}
                        </div>
                        <div class="col-md-12">
                            <br>
                            <label class="text-center">Finca:</label>

                            <div class="input-group">
                                {{laguna_form.finca}}
                                {% if perms.compania.add_finca %}
                                <a id="agregarFinca" data-url="{% url 'compania:agregar-finca-url' %}"
                                    class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2"></a>
                                {% endif %}
                            </div>

                        </div>
                    </div>




                    <br>

                    <a href="{% url 'compania:lagunas-url'  %}" class="loading btn btn-secondary">Cancelar</a>
                    <input type="button" class="btn btn-success" id="guardarLaguna"
                        value="{% if crearLaguna %}Guardar{% elif editarLaguna %}Modificar{% endif %}"><br>
                    <input type="submit" id="enviarFormularioLaguna" hidden>



                </div>

            </form>
        </div>

        {% endif %}

        {% if listadoLagunas %}
        <div style="{{estilos.o6}}">
            <div class="row">

                {% if perms.compania.add_laguna %}
                <i id="add_laguna"></i>
                {% endif %}


            </div>
            <div class="table-responsive">
                <table id="tablajs3" class="table table-striped table-hover table-bordered" width="100%">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Código</th>
                            <th>Tamaño</th>
                            <th>Ubicación</th>
                            <th>Descripción</th>
                            <th>Finca</th>
                            <th>Acción</th>
                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in lagunas %}
                        <tr class="">



                            <td>{{ l.pk }}</td>
                            <td>{% if l.tamano %}{{ l.tamano }}{% endif %}</td>
                            <!-- <td>{{ c.direccion }}</td> -->
                            <td>{% if l.ubicacion %}{{ l.ubicacion }}{% endif %}</td>
                            <td>{% if l.descripcion %}{{ l.descripcion }}{% endif %}</td>
                            <td>{{l.finca}} </td>
                            <td>
                                {% if perms.compania.change_laguna %}
                                <a id="editarLaguna-{{l.pk}}" href="{% url 'compania:editar_laguna-url' l.pk %}"></a>
                                <button class="editarLaguna btn btn-info fas fa-pen" data-id="{{l.pk}}" uk-tooltip="Editar laguna"></button>
                                {% endif %}

                            </td>
                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalNuevoContenedor" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="guardarNuevo" type="submit" form="formNuevo" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

{% endblock cuerpo %}

{% load static %}
{% block script %}
<script src="{% static 'js/compania.js'%}"></script>
{% endblock script %}