{% extends '../base_in.html' %}

{% block titulo %}
Equipo
{% endblock titulo %}

{% block l2 %}
active
{% endblock l2 %}

{% block cuerpo %}
<div class="card text-center">
    <div class="panel-heading bg-primary">
        <h4 class="panel-title text-light">
            {% if listado %}
            Inventario de Equipo
            {% elif crear%}
            Registrar Nuevo Equipo
            {% elif crearEquipoBase%}
            Registrar Nuevo Equipo Para Base
            {% elif editar%}
            Editar {{informacion}}
            {% elif crearCodigoQR%}
            Generador de codigo QR para inventario de equipo
            {% endif %}
        </h4>
    </div>
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">


            {% if perms.equipo.add_equipo %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o1 }}" href="{% url 'equipo:equipo-url' 1 %}">Gestion de Equipo</a>
            </li>
            {% endif %}

            {% if perms.equipo.view_equipo %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o2 }}" href="{% url 'equipo:equipo-url' 2 %}">Equipos</a>
            </li>
            {% endif %}
            {% if perms.equipo.view_baseequipo %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o3 }} " href="{% url 'equipo:equipo-url' 3 %}">Equipo base</a>
            </li>
            {% endif %}
            
            {% if perms.equipo.crearqr_equipo %}
                <li class="nav-item">
                <a class="nav-link {{ clases.o4 }} " href="{% url 'equipo:equipo-url' 4 %}">Generar QR</a>
            </li>
            {% endif %}

        </ul>
    </div>
    <div class="card-body">
        <div style="{{estilos.o1}}">

            <form action=" {% url 'equipo:guardar_equipo-url' %}" class="row" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_o" value="{{ id_o }}">
                <div class="col-6">
                    <label for="id_nombre">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Nombre:</font>
                        </font>
                    </label>
                    <p>{{form.nombre}}</p>
                    <label for="id_numero">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Numero:</font>
                        </font>
                    </label>
                    <p>{{form.numero}}</p>
                    <label for="id_tamano">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Tamaño:</font>
                        </font>
                    </label>
                    <p>{{form.tamano}}</p>
                    <label for="id_color">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Color:</font>
                        </font>
                    </label>
                    <p>{{form.color}}</p>
                    <label for="id_estado">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Estado:</font>
                        </font>
                    </label>
                    <p>{{form.estado}} </p>


                </div>
                <div class="col-6 ">
                    <label for="id_codigo_barras">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Codigo Unico de Bin:</font>
                        </font>
                    </label>
                    
                    {% if crear %}
                       <div class="row container">

                        <div class="col-10 " style="margin: 0 auto;">
                            <p>{{form.codigo_barras}} </p>
                        </div>
                        <div class="col-2 " style="float: right"><button type="button" id="scanner"
                                class=" btn-lg btn-outline-dark fas fa-qrcode "></button>
                        </div>
                    </div> 
                    {% else %}
                    <p>{{form.codigo_barras}} </p>

                    {% endif %}
                        
                    
                    <label for="id_informacion">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Información:</font>
                        </font>
                    </label>
                    <p>{{form.informacion}}</p>
                    <a href="{% url 'equipo:equipo-url' 2 %}" class="btn btn-secondary">Cancelar</a>
                    <input class="btn btn-success" type="submit"
                        value="{% if crear%}Guardar{%elif editar%}Modificar{%endif%}"><br>
                </div>




            </form>
        </div>
        <div style="{{estilos.o2}}">

            <!-- <div class="table-responsive"> -->
            <table id="tablajs" class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Cod.</th>
                        <th>Codigo QR</th>
                        <th>Nombre</th>
                        <th>Numero</th>
                        <th>Tamaño</th>
                        <th>Color</th>
                        <th>Estado</th>
                        <th>Descripcion</th>
                        <th>Edicion</th>
                        <!-- <th>Añadir</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for e in equipos %}
                    <tr {% if e.estado.id == 1 %} class="table-primary" {% elif e.estado.id == 2 %}
                        class="table-success" {% elif e.estado.id == 3 %} class="table-danger" {% endif %}>
                        <td>{{ e.pk }}</td>
                        <td>{{ e.codigo_barras }}</td>
                        <td>{{ e.nombre }}</td>
                        <td><a href="">{{ e.numero }}</a></td>
                        <td>{{ e.tamano }}</td>
                        <td>{{ e.color }}</td>
                        <td>{{ e.estado }}</td>
                        <td>
                            {% if e.informacion  %}
                            {{ e.informacion}}
                            {% else %}
                            <l5>sin descripcion</l5>
                            {% endif %}
                        </td>
                        <td>

                            {% if perms.equipo.change_equipo %}
                            <a id="editar-{{e.pk}}" data-editar='{{e.pk}}'
                                href="{% url 'equipo:editar_equipo-url' e.id %}" class="editar"></a>
                            <button class="editarEquipo btn btn-info fas fa-pen" data-id='{{e.pk}}'></button>

                            {% endif %}
                        </td>
                        <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- </div>     -->

        </div>

        <div style="{{estilos.o3}}" class="row">

            {% if perms.equipo.add_baseequipo %}
            <div class="col-4 border rounded">




                <h3 class="panel-title" style="color:gray">{% if crearEquipoBase %}
                    Nuevo
                    {% else %}
                    Modificar
                    {% endif %}</h3>
                <hr>

                <form action="{% url 'equipo:guardar_equipo_base-url' %}" method="post" id="formEquipoBase">
                    {% csrf_token %}
                    <input type="hidden" name="id_o" value="{{ id_o }}">
                    {{ form.as_p }}
                    <button class="btn btn-secondary" id="limpiarFormEquipoBase">Cancelar</button>
                    <a href=""></a>
                    <input class="btn btn-success" type="submit" value="Guardar">
                    <br>
                </form>

            </div>
            {% endif %}

            <div class="col-8 table-responsive ">
                <table id="tablajs2" class="table table-striped table-hover">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Cod.</th>
                            <th>Base</th>
                            {% if perms.equipo.change_baseequipo %}
                            <th>Acción</th>
                            {% endif %}

                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in equipo_base %}
                        <tr>
                            <td>{{ e.id }}</td>
                            <td>{{ e.nombre }}</td>

                            {% if perms.equipo.change_baseequipo %}
                            <td>
                                <a href="{% url 'equipo:editar_equipo_base-url' e.id %}"
                                    class="btn btn-info fas fa-pen">
                                </a></td>
                            {% endif %}


                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="{{estilos.o4}}">

            <form action=" {% url 'equipo:reporte_codigoQR-url' %}" method="POST" target="_blank">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <label for="id_nombre">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Nombre:</font>
                            </font>
                        </label>
                        <p>{{formQR.nombre}}</p>
                        <label for="id_numero">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Numero:</font>
                            </font>
                        </label>
                        <p>{{formQR.numero}}</p>
                        <label for="id_tamano">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Tamaño:</font>
                            </font>
                        </label>
                        <p>{{formQR.tamano}}</p>
                        <label for="id_color">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Color:</font>
                            </font>
                        </label>
                        <p>{{formQR.color}}</p>

                    </div>
                    <div class="col-6">
                        <div class="panel-heading bg-primary">
                            <h4 class="panel-title text-light">Vista Previa</h4>
                        </div>
                        <div id="qrcode" class=" pl-5 pr-5 pt-1"></div>
                        

                            <p id="qrcode-texto" class=" text-center">EQEL-XX-XXXXX-X-XX-X</p>
                    </div>
                </div>
                
                    <input type="submit" value="Imprimir Codigo QR" class="btn-lg btn-warning fas fa-qrcode" readonly>

            </form>
        </div>

    </div>
</div>

<!-- Modal Reporte-->
<div class="modal fade" id="modalScanner" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Escanear Codigo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalCuerpoScanner">
                <video id="video" width="100%" class="rounded"></video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-lg btn-secondary fas fa-times" id="cerrarModal"
                    data-dismiss="modal"></button>
                <!-- <button class="btn-lg btn-warning fas fa-print" id="imprimirReporte"></button>
                <a href="" class="btn btn-warning fas fa-print" id="imprimirReporte" target="_blank"> Imprimir</a> -->
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %}

{% load static %}
{% block script %}
<script src="{%static 'js/instascan2.min.js'%}"></script>
<script src="{%static 'js/qrcode.js'%}"></script>
<script src="{% static 'js/equipo.js'%}"></script>
{% endblock script %}