{% extends "base_in.html" %}
{% block titulo %}
Cosecha mensual
{% endblock titulo %}
{% block l9 %}
bg-success
{% endblock l9 %}
{% block cuerpo %}
	<div class=" card container">
		<div class="card-body">
			<h3 class="panel-title "><strong>Gráfico de Cosecha Recibida del Mes de {{nombreMes}} </strong></h3>
			
			<div id="container" data-mes="{{mes}}" data-anio="{{anio}}" data-url="{% url 'camaron:grafico_mensual-url' %}"></div>
		</div>
	</div>
	
{% endblock cuerpo %}
{% load static %}
{% block script %}
<script src="{% static 'js/highcharts/highcharts.js'%}"></script>
<script src="{% static 'js/highcharts/exporting.js'%}"></script>
<script src="{% static 'js/highcharts/highcharts-more.js'%}"></script>
<script src="{% static 'js/graficosCamaron.js'%}"></script>
{% endblock script %}



