{% extends "base.html" %}

{% block imagen %}
<!-- {% load static %}
  <img src="{% static 'imgs/fondo5.jpg' %}" alt="" style="position:absolute; z-index:0; width:100%; height:100%; opacity: 0.5"> -->
<style>
  
</style>
{% endblock imagen %}

{% load static %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/base_in.css' %}">
{% endblock%}

{% block contenido %}
<div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark  bg-primary">
      <a class="navbar-brand" href="{% url 'inicio:inicio-url'%}"><img style="display:inline-block"
        src="{% static 'imgs/iconito.png' %}" width="25px">Control de Hielo Empacadora Litoral</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav">
          <li class="nav-item">
              {% if perms.prestamos.view_prestamoequipo %}
              <a href="{% url 'prestamos:prestamos-url' %}" class="nav-link loading text-light {% block l3 %}{% endblock %}"><img
                  src="{% static 'imgs/reserva.png' %}" width="45px" alt=""> <strong>Préstamos</strong><img
                  src="{% static 'imgs/reserva.png' %}" width="45px" alt="" class=" shortmenu animate m-0 p-0"></a> 
                  
              {% endif %}
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link" href="#" title="Cart"><i class="fas btn-lg p-0 fa-cart-plus"></i> Cart <i class="fas btn-lg  fa-cart-plus shortmenu animate"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Comment"><i class="fas btn-lg p-0 fa-comment"></i> Comment <i class="fas btn-lg  fa-comment shortmenu animate"></i></a>
          </li> -->


          
          <li class="nav-item">
          {% if perms.remision.view_remision %}
          <a href="{% url 'remision:remision-url' %}" class="nav-link loading text-light {% block l1 %}{% endblock %}"><img
              src="{% static 'imgs/remision.png' %}" width="45px" alt=""> <strong>Remisiones</strong><img
              src="{% static 'imgs/remision.png' %}" width="45px" alt="" class=" shortmenu animate m-0 p-0"></a>
          {% endif %}
          </li>
          <li class="nav-item">
          {% if perms.camaron.view_cosecha %}
          <a href="{% url 'camaron:cosechas-url' %}" class="nav-link loading text-light {% block l9 %}{% endblock %}"><img
              src="{% static 'imgs/camaron.png' %}" width="45px" alt=""> <strong>Camarón</strong><img
              src="{% static 'imgs/camaron.png' %}" width="45px" alt="" class=" shortmenu animate m-0 p-0"></a>
          {% endif %}
          </li>
          <li class="nav-item">
          {% if perms.hielo_proceso.view_hieloproceso %}
          <a href="{% url 'hielo_proceso:dias-url' %}" class="nav-link loading text-light {% block l8 %}{% endblock %}"><img
              src="{% static 'imgs/hielo.png' %}" width="45px" alt=""> <strong>Hielo</strong><img
              src="{% static 'imgs/hielo.png' %}" width="45px" alt="" class=" shortmenu animate m-0 p-0"></a>
          {% endif %}
          </li>
          <li class="nav-item">
          {% if perms.equipo.view_equipo %}
          <a href="{% url 'equipo:equipo-url' 2 %}" class="nav-link  text-light {% block l2 %}{% endblock %}"><img
              src="{% static 'imgs/almacen.png' %}" width="45px" alt=""> <strong>Equipo</strong><img
              src="{% static 'imgs/almacen.png' %}" width="45px" alt="" class=" shortmenu animate m-0 p-0"></a>
          {% endif %}
          </li>
          <li class="nav-item">
          {% if perms.compania.view_compania %}
          <a href="{% url 'compania:compania-url' 2 %}" class="nav-link  text-light {% block l4 %}{% endblock %}"><img
              src="{% static 'imgs/compania2.png' %}" width="45px" alt=""> <strong>Empresas</strong><img
              src="{% static 'imgs/compania2.png' %}" width="45px" alt="" class=" shortmenu animate m-0 p-0"></a>
          {% endif %}
          </li>
          <li class="nav-item">
          {% if perms.vehiculo.view_vehiculo %}
          <a href="{% url 'vehiculo:vehiculos-url' %}" class="nav-link  text-light {% block l5 %}{% endblock %}">
            <img src="{% static 'imgs/vehiculo.png' %}" width="45px" alt=""> <strong>Vehículos</strong><img
              src="{% static 'imgs/vehiculo.png' %}" width="45px" alt="" class=" shortmenu animate m-0 p-0"></a>
          {% endif %}
          </li>
          <li class="nav-item">
          {% if perms.conductor.view_conductor %}
          <a href="{% url 'conductor:conductores-url' %}" class="nav-link  text-light {% block l6 %}{% endblock %}"><img
              src="{% static 'imgs/conductor.png' %}" width="45px" alt=""> <strong>Conductores</strong><img
              src="{% static 'imgs/conductor.png' %}" width="45px" alt="" class=" shortmenu animate m-0 p-0"></a>
          {% endif %}
          </li>
          <li class="nav-item">
          {% if perms.empleado.view_empleado %}
          <a href="{% url 'empleado:empleados-url'  %}" class="nav-link  text-light {% block l7 %}{% endblock %}"><img
              src="{% static 'imgs/empleado.png' %}" width="45px" alt=""> <strong>Empleados</strong><img
              src="{% static 'imgs/empleado.png' %}" width="45px" alt="" class=" shortmenu animate m-0 p-0"></a>
          {% endif %}
          </li>

        </ul>
        <ul style="margin: 0px;" class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas btn-lg p-0 fa-user"></i> {{user.get_full_name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'seguridad:log_out-url'%}"><i class="fas btn-lg p-0 fa-key"></i> Cerrar Sesión</a>
          </li>
          <!-- <li><a href="{% url 'empleado:empleados-url'  %}" class="nav-link  text-light "><img
            src="{% static 'imgs/profile.png' %}" width="20px" alt="">Empleados
            </a>
          </li> -->
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      
      {% comment %}
        
     
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Try Other</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
              <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
              <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
              <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Try Other</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
              <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
              <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
              <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endcomment %}
        {% block cuerpo %}
      {% endblock cuerpo %}
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script>
      $(document).ready(function () {
        $('.leftmenutrigger').on('click', function (e) {
          $('.side-nav').toggleClass("open");
          $('#wrapper').toggleClass("open");
          e.preventDefault();
        });
      });
  </script>
{% endblock script %}
  
