{% extends "base_in.html" %}
{% block titulo %}
Remisiones
{% endblock titulo %}
{% block l1 %}
active
{% endblock l1 %}
{% block cuerpo %}
<div class="card text-center">
    <div class="panel-heading bg-primary" >
        <h3 class="panel-title text-light">Remisiones de Hielo</h3>
    </div>    
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link {{ clases.o1 }}" href="{% url 'remision:crear_remision-url' %}">Gestión de
                    Remision</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ clases.o2 }}" href="{% url 'remision:remision-url'%} ">Remisiones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ clases.o3 }} " href="">...</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ clases.o3 }}" href="#">...</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div style="{{estilos.o1}}">

            {% if messages %}
            {% for message in messages %}
                <span class="alert alert-danger alert-dismissible ">Error: {{ message|escape }}</span> <!--data-dismiss="alert"-->
                <br><br>
            {% endfor %}
            {% endif %}

            <form method="post" id="formRemision">
                <input type="hidden" name="crear" id="crear" value="{{ crear }}">
                {% csrf_token %}
                <div class="row container border p-2">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                        <label for="">Numero:</label>
                        {{remision_form.numRemision}}
                        <br>
                        
                        
                        
                        <div id="esCrear">
                            <label for=""><strong>¿Se presto equipo para esta remision?  </strong></label>
                            <input type="checkbox" class="" id="siPrestamo">
                            <label class="text-success" for="siPrestamo">Si </label>
                        </div>
                            <!-- <div class="invalid-feedback">Example invalid feedback text</div> -->
                        
                        <div id="prestamo">
                            <label for="">Préstamo de equipo:</label>
                            {{remision_form.prestamoEquipo}}
                            <br><br>
                        </div>
                          <!-- <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">No</label>
                          </div> -->
                        <label for="">Asignado a:</label>
                        {{remision_form.compania}}
                        <br>


                        <label for="">Fecha:</label>
                        {{remision_form.fecha}}
                        <br>
                        <div class="container {% if remision_form.estado.value == 1 %}
                        alert-info
                        {%elif remision_form.estado.value == 2%}
                        alert-success
                        {%elif remision_form.estado.value == 3%}
                        alert-danger
                        {% endif %}" 
                        
                            >
                            <label for="">Estado Actual:</label>
                            {{remision_form.estado}}
                        <br>
                        
                        </div>
                        
                        <!-- {{remision_form.estado}} -->

                        
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        
                        
                        <!-- <p>{{remision_form.prestamoEquipo.pk}}</p> -->
                        
                        <div class="" id="conductor">
                            <label for="">Tipo:</label>
                            {{remision_form.tipoRemision}}
                            <br>
                            <label for="">Guiá:</label>
                            {{remision_form.guia}}
                            <br>
                            <label for="">Recibió:</label>
                            {{remision_form.conductor}}
                            <br>
                            <label for="">Placa:</label>
                            {{remision_form.placa}}
                            <br>
                            <label for="">Entrego:</label>
                            {{remision_form.entrego}}
                            <br>
                        </div>

                    </div>


                </div>









                <!-- {% for rf in remision_form %}
                    <div class="link-formset">
                        {{ rf.anchor }}
                        {% if rf.anchor.errors %}
                            {% for error in rf.anchor.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}

                        {{ link_form.url }}
                        {% if link_form.url.errors %}
                            {% for error in link_form.url.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %} -->



                {{ detalleRemision_formset.management_form }}
                <hr>
                <table class="table table-striped table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Salida</th>
                            <th>Unidad de medida</th>
                            <th>Tipo de Hielo</th>
                            <th>Devolucion</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody id="probando">
                        {% for dr in detalleRemision_formset %}
                        <tr class="detalle-formset">
                            <!-- <td>{{ dr.remision }}</td> -->
                            <td scope="row">{{dr.salida}}
                                    {% if dr.salida.errors %}
                                    {% for error in dr.salida.errors %}
                                        <span class="text-danger">{{ error|escape }}</span>
                                    {% endfor %}
                                {% endif %} 
                            </td>
                            <td>{{dr.unidad}}
                                {% if dr.unidad.errors %}
                                    {% for error in dr.unidad.errors %}
                                        <span class="text-danger">{{ error|escape }}</span>
                                    {% endfor %}
                                {% endif %} 
                            </td>
                            <td>
                                 {{ dr.hielo }}
                                    {% if dr.hielo.errors %}
                                    {% for error in dr.hielo.errors %}
                                        <span class="text-danger">{{ error|escape }}</span>
                                    {% endfor %}
                                {% endif %} 
                            </td>
                            <!-- <td>{{dr.hielo}}</td> -->
                            <td>{{dr.devolucion}}</td>
                            <td></td>
                            <!-- <a name="" id="" class="btn btn-primary" href="#" role="button"></a> -->
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                {# {{ detalleRemision_formset.as_p }} #}
                <!-- {% for dr in detalleRemision_formset %}
                    <div class="detalle-formset">
                        {{dr}}
                    </div>

                    <button id="remove-item" type="button">Quitar</button>
                {% endfor %} -->
 

                {% if detalleRemision_formset.non_form_errors %}
                    {% for error in detalleRemision_formset.non_form_errors %}
                    <span class="alert alert-warning alert-dismissible">Alerta: {{ error|escape }}</span> <!--data-dismiss="alert"-->
                    <br>
                    <br>
                    {% endfor %}
                {% endif %} 

                <a href="{% url 'remision:remision-url'%} " class="btn btn-secondary">Cancelar</a>
                <input type="submit" class="btn btn-success" value="Guardar" class="button" />

                
            <!-- <div class="" style="visibility: hidden;">
                
                    
                {% block modalTitulo %}
                    
                    {% if crear %}
                        Guardar Remision
                    {% else %}
                        Actualizar Remision
                    {% endif %}
                    
                        
                {% endblock modalTitulo %}
                    
                {% block modalCuerpo %}
                    {% if crear %}
                    <p>Crear nueva remision</p>
                    {% else %}
                    <p>Actualizar la remision</p>
                    {% endif %}
                {% endblock modalCuerpo %}
                
                {% block modalGuardar %}
                    {% if crear %}
                        Guardar 
                    {% else %}
                        Actualizar
                    {% endif %}
                {% endblock modalGuardar %}
                                
                
                    
            </div> -->
                    
            </form>


            <!-- {% if object %}
            <form role="form" action="{% url 'prestamos:modificar_prestamo-url' object.numPrestamo %}" method="post">
            {% else %}
            <form role="form" action="" method="post">
            {% endif %}
                
                <h3>Crear remision</h3>
                {% csrf_token %}
                <div class="panel panel-default">
                        <div class="panel-body">
                                {{ form.as_p }}
                                {{ detallePrestamoEquipoFormSet.management_form }}
                                {% for d in detallePrestamoEquipoFormSet %}
                                <div class="row">
                                    <div class="col-4">{{ d.descripcion }}</div>
                                    <div class="col-4">{{ d.equipo }}</div>
                                    <div class="col-4">{{ d.tapadera }}</div>
                                </div>
                                        
                                {% endfor %}
                        </div>
                </div>
                <div class="col-lg-12 text-right">
                        <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                        <a type="button" class="btn btn-default" href="{% url 'prestamos:prestamos-url' %}">
                                Cancelar
                        </a>
                </div>  
        </form>-->
        </div>
        <div style="{{estilos.o2}}">
            <table id="tablajs" class="table table-striped table-bordered" style="width:100%" class="display">
                <thead class="thead-inverse">
                    <tr>
                        <th data-priority="1">Cod.</th>
                        <th>Tipo de remision</th>
                        <th>Guia</th>
                        <th>Compania</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Prestamo de equipo</th>
                        <th>Conductor</th>
                        <th>Entregado por</th>
                        <th>Placa</th>
                        <th data-priority="2">Acciones</th>
                        <!-- <th>Añadir</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for r in remisiones %}
                    <tr id="fila-{{r.numRemision}}"{% if r.estado.id == 1 %} {% elif r.estado.id == 2 %}
                        class="table-success" {% elif r.estado.id == 3 %} class="table-danger" {% endif %}>
                        <td>{{ r.numRemision }}</td>
                        <td>{{ r.tipoRemision }}</td>
                        <td>
                        {% if r.guia %}
                           <a href="">{{ r.guia }}</a>
                        {% else %}
                            -
                        {% endif %}
                            </td>
                        <td>{{ r.compania }}</td>
                        <td>{{ r.fecha }}</td>
                        <td id="col_estado-{{ r.numRemision }}">
                        {% if r.estado.id == 1 %}
                            <p style="display: none">1</p>
                            <i class="fas fa-exclamation" ></i>
                        {% elif r.estado.id == 2 %}
                            <p style="display: none">2</p>
                            <i class="fas fa-check"></i>
                        {% elif r.estado.id == 3 %}
                            <p style="display: none">3</p>
                            <i class="fas fa-times"></i>
                        {% endif %}
                            </td>
                        <td id="col_prestamo-{{ r.numRemision }}">
                        {% if r.prestamoEquipo  %}
                            {{ r.prestamoEquipo }}
                        {% else %}
                            -
                        {% endif %}
                            </td>
                        <td>{{ r.conductor }}</td>
                        <td>{{ r.entrego }}</td>
                        <td>{{ r.placa }}</td>
                        <td> 

                        {% if r.estado.id == 1 %}
                            <button class="btn btn-success fas fa-check terminarRemision"data-id="{{ r.numRemision }}" data-terminar="{{ r.numRemision }}"></button>
                            <a href="{% url 'remision:modificar_remision-url' r.numRemision %}" class="btn btn-info fas fa-pen " data-id="{{ r.numRemision }}" data-editar="{{ r.numRemision }}"></a> 
                            <button class="btn btn-danger anularRemision fas fa-times" data-id="{{ r.numRemision }}" data-anular="{{ r.numRemision }}"></button>
                            <button class="btn btn-warning verRemision fas fa-eye " data-id="{{ r.numRemision }}"></button>
                        {% elif r.estado.id == 2 %}
                            <a href="{% url 'remision:modificar_remision-url' r.numRemision %}" class="btn btn-info fas fa-pen " data-id="{{ r.numRemision }}"></a> 
                            <button class="btn btn-warning verRemision fas fa-eye " data-id="{{ r.numRemision }}"></button>
                        {% else %}
                            <button class="btn btn-warning verRemision fas fa-eye " data-id="{{ r.numRemision }}"></button>
                        {% endif %} 
                            
                        </td>


                        <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalDetalleRemision" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Visualizacion de remision</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modalCuerpoRemision">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary fas fa-times" id="cerrarModal" data-dismiss="modal"> Cerrar</button>
          <a href="" class="btn btn-warning fas fa-print" id="imprimirRemision" target="_blank"> Imprimir</a>
          <button type="button" class="btn btn-primary" id="terminarRemision">Continuar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock cuerpo %}
{% load static %}
{% block script %}
<script src="{% static 'js/remision.js'%}"></script>
{% endblock script %}