{% extends "base_in.html" %}
{% block titulo %}
Remisiones
{% endblock titulo %}
{% block l1 %}
bg-success
{% endblock l1 %}
{% block cuerpo %}
<div class="card text-center">

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">

            {% if perms.remision.add_remision %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o1 }}" href="{% url 'remision:crear_remision-url' %}">Gestión de
                    Remision</a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link {{ clases.o2 }}" href="{% url 'remision:remision-url'%} ">Remisiones</a>
            </li>
        </ul>
    </div>
    <div class="card-body pb-0">
        <h4 class="mb-1"><strong>{% if crear%}Crear Remisión de Hielo{% elif editar %}Editar Remisión Nō
                {{remision}}{% elif listado %}Remisiones de Hielo{% endif %}</strong>
        </h4>


        {% if crear or editar %}

        <div style="{{estilos.o1}}">

            {% if messages %}
            {% for message in messages %}
            <span class="alert alert-danger alert-dismissible ">Error: {{ message|escape }}</span>
            <!--data-dismiss="alert"-->
            <br><br>
            {% endfor %}
            {% endif %}

            <p class="small text-left mt-0 mb-0"><i class="fas fa-info"></i> <strong class="text-warning">Campo con borde
                    color amarillo es requerido.</strong></p>
            <form method="post" id="formRemision" class="row mb-3">
                <input type="hidden" name="crear" id="crear" value="{{ crear }}" data-remision="{{remision}}">
                {% csrf_token %}
                <div class="col-md-6 form-row border-right">
                    <div class="col-md-6 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Número</span>
                        </div>
                        {{remision_form.numRemision}}

                    </div>
                    <div class="col-md-6 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Fecha</span>
                        </div>
                        {{remision_form.fecha}}

                    </div>
                    <div class="col-md-6 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Tipo</span>
                        </div>
                        {{remision_form.tipoRemision}}

                    </div>
                    <div class="col-md-6 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Número de Guía</span>
                        </div>
                        <input id="guia" type="hidden" value="{{guia}}" name="">
                        {{remision_form.guia}}

                    </div>
                    
                    <div class="col-md-12 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Préstamo de Equipo</span>
                        </div>
                        {{remision_form.prestamoEquipo}}
                         <input id="capacidad" type="hidden" value="{{capacidad}}" name="">
                    </div>

                    <div class="col-md-12 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Asignado a </span>
                        </div>
                        {{remision_form.compania}}
                        <a id="agregarEmpresa" data-url="{% url 'compania:agregar-empresa-url' %}"
                            class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2"></a>
                    </div>
                    <div class="col-md-12 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Recibió </span>
                        </div>
                        {{remision_form.conductor}}
                        <a id="agregarConductor" data-url="{% url 'conductor:agregar-conductor-url' %}"
                            class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2"></a>
                    </div>
                    <div class="col-md-6 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Placa </span>
                        </div>
                        {{remision_form.placa}}
                        <a id="agregarVehiculo" data-url="{% url 'vehiculo:agregar-vehiculo-url' %}"
                            class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2"></a>
                    </div>
                    <div class="col-md-6 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Entregó </span>
                        </div>
                        <input type="text" class="form-control" value="{%if entrego%}{{entrego}}{%else%}{{user.get_full_name}}{%endif%}"  readonly>
                        
                        <div hidden>
                           {{remision_form.entrego}}
                            <a id="agregarEmpleado" data-url="{% url 'empleado:agregar-empleado-url' %}"
                            class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2"></a> 
                        </div>                            
                        
                    </div>
                

                </div>


                <div hidden id="esCrear">
                    <label for=""><strong>¿Se presto equipo para esta remision? </strong></label>
                    <input type="checkbox" class="" id="siPrestamo">
                    <label class="text-success" for="siPrestamo">Si </label>
                </div>
                <div hidden class="container {% if remision_form.estado.value == 1 %}
                        alert-info
                        {%elif remision_form.estado.value == 2%}
                        alert-success
                        {%elif remision_form.estado.value == 3%}
                        alert-danger
                        {% endif %}">
                    <label for="">Estado Actual:</label>
                    {{remision_form.estado}}
                    <br><br>
                </div>


                <div class="col-md-6">
                    {{ detalleRemision_formset.management_form }}

                    <p class="mb-0"><strong>A continuación ingrese la descripción de la remision de hielo:</strong> </p>
                    <div class="table-responsive ">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Salida (qq)</th>
                                    <th hidden>Unidad de medida</th>
                                    <th>Tipo de Hielo</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody id="probando">
                                {% for dr in detalleRemision_formset %}
                                <tr class="detalle-formset">
                                    <!-- <td>{{ dr.remision }}</td> -->
                                    <td scope="row">{{dr.salida}}
                                        {% if dr.salida.errors %}
                                        {% for error in dr.salida.errors %}
                                        <span class="text-danger">{{ error|escape }}</span>
                                        {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td hidden>{{dr.unidad}}
                                        {% if dr.unidad.errors %}
                                        {% for error in dr.unidad.errors %}
                                        <span class="text-danger">{{ error|escape }}</span>
                                        {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ dr.hielo }}
                                        {% if dr.hielo.errors %}
                                        {% for error in dr.hielo.errors %}
                                        <span class="text-danger">{{ error|escape }}</span>
                                        {% endfor %}
                                        {% endif %}
                                    </td>
                                    <!-- <td>{{dr.hielo}}</td> -->
                                    <td></td>
                                    <!-- <a name="" id="" class="btn btn-primary" href="#" role="button"></a> -->
                                </tr>
    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="errorDetalle"></div>
                </div>

               
                {# {{ detalleRemision_formset.as_p }} #}
                <!-- {% for dr in detalleRemision_formset %}
                    <div class="detalle-formset">
                        {{dr}}
                    </div>

                    <button id="remove-item" type="button">Quitar</button>
                {% endfor %} -->


                {% if detalleRemision_formset.non_form_errors %}
                {% for error in detalleRemision_formset.non_form_errors %}
                <span class="alert alert-warning alert-dismissible">Alerta: {{ error|escape }}</span>
                <!--data-dismiss="alert"-->
                <br>
                <br>
                {% endfor %}
                {% endif %}
                <input type="submit" id="enviarFormularioRemision" hidden>

            </form>
            <center>
                <button id="guardarRemision" class="btn btn-success">{% if crear%}<i class="fas fa-save"></i> Guardar{% elif editar %}<i class="fas fa-edit"></i> Modificar{% endif %}</button>
                <a href="{% url 'remision:remision-url'%} " class="btn btn-secondary loading"><i class="fas fa-window-close"></i> Cancelar</a>
            </center>
            <p></p>
        </div>
        {% endif %}
        {% if listado %}
        <div style="{{estilos.o2}}">


            <div class="row col-md-6 mb-1">

                {% if perms.remision.add_remision %}
                <i id="add_remision"></i>
                {% endif %}

                {% if perms.remision.generar_reportes %}
                <i id="generar_reportes"></i>
                {% endif %}
            </div>

            <div class="table-responsive">
                <table id="tablajs" class="table table-striped  table-hover table-bordered" style="width:100%"
                    class="display">
                    <thead class="thead-inverse">
                        <tr>
                            <th data-priority="1">Cod.</th>
                            <th>Tipo</th>
                            <th>Compañía</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Préstamo</th>
                            <th>Conductor</th>
                            <th>Entregó</th>
                            <th>Placa</th>
                            <th data-priority="2">Acciones</th>
                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in remisiones %}
                        <tr id="fila-{{r.numRemision}}" {% if r.estado.id == 1 %} {% elif r.estado.id == 2 %}
                            class="table-success" {% elif r.estado.id == 3 %} class="table-danger" {% endif %}>
                            <td>{{ r.numRemision }}</td>
                            <td>{{ r.tipoRemision }}</td>
                            <td>
                                {% if r.compania.abreviatura %}
                                {{r.compania.abreviatura}}
                                {% else %}
                                {{ r.compania }}
                                {% endif %}
                            </td>
                            <td>{{ r.fecha|date:'Y/m/d' }}</td>
                            <td id="col_estado-{{ r.numRemision }}">
                                {{r.estado}}
                                <!-- {% if r.estado.id == 1 %}
                            <p style="display: none">1</p>
                            <i class="fas fa-exclamation"></i>
                            {% elif r.estado.id == 2 %}
                            <p style="display: none">2</p>
                            <i class="fas fa-check"></i>
                            {% elif r.estado.id == 3 %}
                            <p style="display: none">3</p>
                            <i class="fas fa-times"></i>
                            {% endif %} -->
                            </td>
                            <td id="col_prestamo-{{ r.numRemision }}">
                                {% if r.prestamoEquipo  %}
                                <a data-prestamo='{{r.prestamoEquipo.pk}}'>{{ r.prestamoEquipo }}</a>
                                {% else %}

                                {% endif %}
                            </td>
                            <td>{{ r.conductor }}</td>
                            <td>{{ r.entrego }}</td>
                            <td>{{ r.placa }}</td>
                            <td>

                                {% if r.estado.id == 1 %}

                                {% if perms.remision.terminar_remision %}
                                
                                {% if r.tipoRemision.pk != 1 %}
                                     <button uk-tooltip="Terminar remisión"
                                    class="btn btn-success fas fa-check terminarRemision" data-id="{{ r.numRemision }}"
                                    data-terminar="{{ r.numRemision }}"></button>
                                {% endif %}
                                    
                                {% endif %}
                                {% if perms.remision.change_remision %}
                                <a id="editar-{{ r.numRemision }}"
                                    href="{% url 'remision:modificar_remision-url' r.numRemision %}"
                                    data-id="{{ r.numRemision }}" data-editar="{{ r.numRemision }}"></a>
                                <button uk-tooltip="Editar remisión" class="btn btn-info fas fa-pen editarRemision "
                                    data-id="{{ r.numRemision }}"></button>
                                {% endif %}
                                {% if perms.remision.delete_remision %}
                                <button uk-tooltip="Anular remisión" class="btn btn-danger anularRemision fas fa-times"
                                    data-id="{{ r.numRemision }}" data-anular="{{ r.numRemision }}"></button>
                                {% endif %}
                                <button uk-tooltip="Visualizar remisión" class="btn btn-warning verRemision fas fa-eye "
                                    data-id="{{ r.numRemision }}"></button>
                                {% else %}

                                <button uk-tooltip="Visualizar remisión" class="btn btn-warning verRemision fas fa-eye "
                                    data-id="{{ r.numRemision }}"></button>
                                {% endif %}

                            </td>


                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p class="text-left mt-2"><strong><i class="fas fa-info"></i></strong> <i class="alert-danger">Anulado</i>
                <i class="alert-light">Activo</i> <i class="alert-success">Terminado</i> </p>
        </div>
        {% endif %}
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalDetalleRemision" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Visualización de remisión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalCuerpoRemision">
                ...
            </div>

            <div class="modal-footer">
                <center>
                    <button type="button" class="btn-lg btn-success  fas fa-check " id="terminarRemision"></button>
                    <a href="" class="btn-lg btn-warning  fas fa-print " id="imprimirRemision" target="_blank">
                    </a>
                    <button type="button" class="btn-lg btn-secondary  fas fa-times " id="cerrarModal"
                        data-dismiss="modal">
                    </button>
                </center>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>



<!-- Small modal -->

<div class="modal fade" id="modalReporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reporte Mensual</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalCuerpoReporte">
                ...
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary fas fa-times" id="cerrarModal" data-dismiss="modal">
                    </button> -->
                <button class=" btn-warning btn-lg fas fa-print " id="imprimirReporte"></button>
                <!-- <a href="" class="btn btn-warning fas fa-print" id="imprimirReporte" target="_blank"> Imprimir</a> -->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalNuevoContenedor" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="guardarNuevo" type="submit" form="formNuevo" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

{% endblock cuerpo %}
{% load static %}
{% block script %}
<script src="{% static 'js/remision.js'%}"></script>
{% endblock script %}