{% extends '../base_in.html' %}
{% block titulo %}
Prestamo de Equipo
{% endblock titulo %}

{% block l3 %}
active
{% endblock l3 %}

{% block cuerpo %}
<div class="card text-center">
    <div class="panel-heading bg-primary">
        <h4 class="panel-title text-light">
            {% if crear%}
            Crear Préstamo de Equipo
            {% elif editar %}
            Editar Préstamo Nō {{prestamo}}
            {% elif listado %}
            Prestamos de Equipo
            {% endif %}
        </h4>
    </div>
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">

            {% if perms.prestamos.add_prestamoequipo %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o1 }}" href="{% url 'prestamos:crear_prestamo-url' %}">Gestión de
                    prestamos</a>
            </li>
            {% endif %}

            {% if perms.prestamos.view_prestamoequipo %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o2 }}" href="{% url 'prestamos:prestamos-url' %}">Prestamos</a>
            </li>
            {% endif %}


        </ul>
    </div>
    <div class="card-body ">
        <div class="container pt-3 pb-2" style="{{estilos.o1}}">
            {% if messages %}
            {% for message in messages %}
            <span class="alert alert-danger alert-dismissible ">Error: {{ message|escape }}</span>
            <!--data-dismiss="alert"-->
            <br><br>
            {% endfor %}
            {% endif %}

            <form method="post" id="formPrestamo">
                <input type="hidden" name="crear" id="crear" data-prestamo="{{prestamo}}" value="{{ crear }}">
                {% csrf_token %}
                <div class="row  ">
                    <br>
                    <br>
                    <div class="form-group col-md-3">
                        <label>Numero</label>
                        {{prestamo_form.numPrestamo}}
                    </div>
                    <br>
                    <br>
                    <div class="form-group col-md-4">
                        <label>Empresa</label>
                        {{prestamo_form.compania}}
                    </div>
                    <div class="form-group col-md-4" id="divEstado">
                        <label>Estado</label>
                        {{prestamo_form.estadoPrestamo}}
                    </div>

                    {{ detallePrestamo_formset.management_form }}
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Equipo Disponible</th>
                                    <th>Tapadera</th>
                                    <th>Descripción</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dp in detallePrestamo_formset %}
                                <tr class="detalle-formset">

                                    <td>{{dp.equipo}}</td>
                                    <td>{{dp.tapadera}}</td>
                                    <td>{{dp.descripcion}}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Numero de placa</label>
                        {{prestamo_form.placa}}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Hora de salida</label>
                        {{prestamo_form.horaSalida}}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Fecha de salida</label>
                        {{prestamo_form.fechaSalida}}
                    </div>
                    <div class="form-group col-md-3 alert-info">
                        <label>Fecha de Entrada</label>
                        {{prestamo_form.fechaEntrada}}
                        <br>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Conductor</label>
                        {{prestamo_form.conductor}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Entrego</label>
                        {{prestamo_form.empleado}}
                    </div>
                    <div class="form-group col-md-12">
                        <label>Observaciones</label>
                        {{prestamo_form.observaciones}}
                    </div>
                </div>
                <br>
                <input type="submit" id="enviarFormularioPrestamo" hidden>
            </form>
            <center>
                <button id="guardarPrestamo" class="btn btn-success">{% if crear%}Guardar
                    Prestamo{% elif editar %}Modificar{% endif %}</button>
                <a href="{% url 'prestamos:prestamos-url'%} " class="btn btn-secondary">Cancelar</a>

            </center>

        </div>
        <div style="{{estilos.o2}}">
            <div class="row">
                <div class="col-md-3 mb-1">
                    {% if perms.prestamos.add_prestamoequipo %}
                    <a class="btn btn-success {{ clases.o1 }}" href="{% url 'prestamos:crear_prestamo-url' %}">Nuevo Prestamo</a>
                    {% endif %}
                </div>
            </div>
            <div class="table-responsive">
                <table id="tablajs" class="table table-striped table-hover table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Compañía</th>
                            <th>Vehículo</th>
                            <th>Hora de Salida</th>
                            <th>Fecha de Salida</th>
                            <th>Fecha de entrada</th>
                            <th>Conductor</th>
                            <th>Empleado</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in prestamos  %}
                        <tr id="fila-{{p.numPrestamo}}" {% if p.estadoPrestamo.id == 1 %}
                            {% elif p.estadoPrestamo.id == 2 %} class="table-danger" {% elif p.estadoPrestamo.id == 3 %}
                            class="table-info" {% elif p.estadoPrestamo.id == 4 %} class="table-success" {% endif %}>
                            <td scope="row">{{p.numPrestamo}}</td>
                            <td>{% if p.compania.abreviatura %}
                                {{p.compania.abreviatura}}
                                {% else %}
                                {{ p.compania }}
                                {% endif %}</td>
                            <td>{{p.placa}}</td>
                            <td>{{p.horaSalida}}</td>
                            <td>{{p.fechaSalida}}</td>
                            <td>
                                {% if p.fechaEntrada %}
                                {{p.fechaEntrada}}
                                {% else %}
                                -
                                {% endif %}
                            </td>
                            <td>{{p.conductor}}</td>
                            <td>{{p.empleado}}</td>
                            <td id="col_estado-{{p.numPrestamo}}">
                                {{p.estadoPrestamo}}
                                <!--                             
                            {% if p.estadoPrestamo.id == 1 %}
                            <p style="display: none">1</p>
                            <i class="fas fa-exclamation"></i>
                            {% elif p.estadoPrestamo.id == 2 %}
                            <p style="display: none">2</p>
                            <i class="fas fa-times"></i>
                            {% elif p.estadoPrestamo.id == 3 %}
                            <p style="display: none">3</p>
                            <i class="fas fa-asterisk"></i>
                            {% elif p.estadoPrestamo.id == 4 %}
                            <p style="display: none">4</p>
                            <i class="fas fa-check"></i>
                            {% endif %} -->

                            </td>
                            <td>
                                {% if p.estadoPrestamo.id == 1 %}
                                {% if perms.prestamos.terminar_prestamoequipo %}
                                <button data-terminar='{{p.numPrestamo}}'
                                    class="terminar btn btn-success fas fa-check"></button>
                                {% endif %}
                                {% if perms.prestamos.change_prestamoequipo %}
                                <a id="editar-{{p.numPrestamo}}" data-editar='{{p.numPrestamo}}'
                                    href="{% url 'prestamos:modificar_prestamo-url' p.numPrestamo %}">
                                </a>
                                <button data-editar='{{p.numPrestamo}}'
                                    class="editarPrestamo btn btn-info fas fa-pen"></button>
                                {% endif %}
                                {% if perms.prestamos.anular_prestamoequipo %}
                                <button class="anular btn btn-danger fas fa-times"
                                    data-anular='{{p.numPrestamo}}'></button>
                                {% endif %}
                                {% endif %}
                                {% if perms.prestamos.view_prestamoequipo %}
                                <button class="ver btn btn-warning fas fa-eye " data-ver='{{p.numPrestamo}}'></button>
                                {% endif %}


                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalDetallePrestamo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Visualización de prestamo de equipo
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalCuerpoPrestamo">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-lg btn-success fas fa-check" id="terminarPrestamo"></button>
                <button type="button" class="btn-lg btn-secondary fa fa-times" id="cerrarModal"
                    data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>

{% endblock cuerpo %}
{% load static %}
{% block script %}
<script src="{% static 'js/prestamos.js'%}"></script>
{% endblock script %}