{% extends "base_in.html" %}
{% block titulo %}
Cosechas
{% endblock titulo %}
{% block l9 %}
bg-success
{% endblock l9 %}
{% block cuerpo %}
<div class="card text-center">

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            {% if perms.camaron.add_cosecha %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o1 }}" href="{% url 'camaron:crear-url' %}">Gestión de Cosecha</a>
            </li>
            {% endif %}
            {% if perms.camaron.view_cosecha %}
            <li class="nav-item">
                <a class="nav-link {{ clases.o2 }}" href="{% url 'camaron:cosechas-url'%} ">Cosechas</a>
            </li>
            {% endif %}



        </ul>
    </div>
    <div class="card-body">
        <h4 class="mb-1"><strong>{% if crear%}Crear Nueva Nota de Cosecha{% elif editar %}Editar Nota de Cosecha Nō
                {{pk}}{% elif listado %}Notas de Cosecha de Camarón{% endif %}</strong>
        </h4>


        {% if crear or editar %}

        <div style="{{estilos.o1}}">

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error: </strong>{{ message|escape }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

            <p class="small text-left mt-0 mb-0"><i class="fas fa-info"></i> <strong class="text-warning">Campo con borde color amarillo es requerido.</strong></p>
            <form class="row" method="post" id="formCosecha">
                <input type="hidden" name="crear" id="crear" data-cosecha="{{pk}}" value="{{ crear }}">
                {% csrf_token %}
                <div class="col-md-3 input-group mb-3 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Código</span>
                    </div>
                    {{cosecha_form.codCosecha}}
                </div>
                <div class="col-md-3 input-group mb-3 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Remisión</span>
                    </div>
                    {% if remision %}
                    <input type="text" readonly class="form-control" value="{{remision}}">
                    <div hidden>
                        {{cosecha_form.remision}}
                    </div>
                    {% else %}
                        {{cosecha_form.remision}}
                    {% endif %}
                    
                </div>
                <div class="col-md-3 input-group mb-3 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Finca</span>
                    </div>
                    <select name="" class="form-control selectpicker show-tick" data-live-search="true" data-size="5" id="finca"
                        required>
                        {% if htmlFincas %}
                        {{htmlFincas|safe}}
                        {% else %}
                        <option value="">Seleccione... </option>
                        {% endif %}
                    </select>
                    <a hidden id="agregarFinca" data-url="{% url 'compania:agregar-finca-url' %}"
                        class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2"></a>
                </div>
                <div class="col-md-3 input-group mb-3 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Laguna</span>
                    </div>
                    {{cosecha_form.laguna}}
                    <a hidden id="agregarLaguna" data-url="{% url 'compania:agregar-laguna-url' %}"
                        class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2"></a>
                </div>
                <div class="col-md-3 input-group mb-3 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Fecha</span>
                    </div>
                    {{cosecha_form.fecha}}
                </div>
                <div class="col-md-3 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Hora de Inicio</span>
                        </div>
                        {{cosecha_form.horaInicio}}
                    </div>
                <div class="col-md-3 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Hora Final</span>
                        </div>
                        {{cosecha_form.horaFinal}}
                    </div>
                <div class="col-md-3 input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Entrego</span>
                        </div>
                        <input type="text" value="{%if entrego%}{{entrego}}{%else%}{{user.get_full_name}}{%endif%}"class="form-control" readonly>
                        <div hidden>
                        {{cosecha_form.entrego}}
                        <a id="agregarEmpleado" data-url="{% url 'empleado:agregar-empleado-url' %}"
                            class="btn-lg text-success fas fa-plus ml-1 p-0 pl-1 pt-2"></a>
                        </div>
                    </div>

                <div style="display: none">{{cosecha_form.registro}}</div>

                <!-- {% for rf in remision_form %}
                        <div class="link-formset">
                            {{ rf.anchor }}
                            {% if rf.anchor.errors %}
                                {% for error in rf.anchor.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
    
                            {{ link_form.url }}
                            {% if link_form.url.errors %}
                                {% for error in link_form.url.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %} -->
               
                <div id="detalleCosecha" class="col-md-12 row">
                    {% if not crear %}
                    <div class="col-md-6 table-responsive">
                    <div class="alert alert-info alert-dismissible mb-0"><strong> Ingrese el detalle de la recepción de cosecha</strong></div>
                    {{ detalleCosecha_formset.management_form }}
                    <table class="table table-striped table-inverse ">
                        <thead class="thead-inverse">
                            <tr>
                                <th>No. Bin</th>
                                <th>Total Canasta</th>
                                <th>Total Libras</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dc in detalleCosecha_formset %}
                            <tr class="detalle-formset">
                                <!-- <td>{{ dc.remision }}</td> -->
                                <td width="100px">{{dc.numeroBin}}
                                    {% if dc.numeroBin.errors %}
                                    {% for error in dc.numeroBin.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{dc.totalCanasta}}
                                    {% if dc.totalCanasta.errors %}
                                    {% for error in dc.totalCanasta.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ dc.libras }}
                                    {% if dc.libras.errors %}
                                    {% for error in dc.libras.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <!-- <td>{{dc.hielo}}</td> -->
                                <td>{{dc.observaciones}}</td>
                                <td></td>
                                <!-- <a name="" id="" class="btn btn-primary" href="#" role="button"></a> -->
                            </tr>

                            {% endfor %}
                            
                        </tbody>
                    </table>
                    </div>
                    {{html|safe}}
                    {% endif %}
                </div>

                {% if detalleCosecha_formset.non_form_errors %}
                {% for error in detalleCosecha_formset.non_form_errors %}
                <span class="alert alert-warning alert-dismissible">Alerta: {{ error|escape }}</span>
                <!--data-dismiss="alert"-->
                <br>
                <br>
                {% endfor %}
                {% endif %}
                <input type="submit" id="enviarFormularioCosecha" hidden>

            </form>

            <center>
                <br>
                <button id="guardarCosecha" class="btn btn-success">{% if crear%}<i class="fas fa-save"></i> Guardar{% elif editar %}<i class="fas fa-edit"></i> Modificar{% endif %}</button>
                <a href="{% url 'camaron:cosechas-url'%} " class="btn btn-secondary"><i class="fas fa-window-close"></i> Cancelar</a>

            </center>

        </div>

        {% endif %}

        {% if listado %}


        <div style="{{estilos.o2}}">
            {% if perms.camaron.add_cosecha %}
            <i id="add_cosecha"></i>
            {% endif %}
            {% if perms.camaron.imprimir_cosecha %}
            <i id="imprimir_cosecha"></i>
            {% endif %}

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Confirmación: </strong>{{ message|escape }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}


            <div class="table-responsive">
                <table id="tablajs" class="table table-striped table-hover table-bordered" style="width:100%"
                    class="display">
                    <thead class="thead-inverse">
                        <tr>
                            <th data-priority="1">Cód.</th>
                            <th>Remisión</th>
                            <th>Guía</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Laguna</th>
                            <th>Motorista</th>
                            <th>Marca</th>
                            <th>Placa</th>
                            <th data-priority="2">Acciones</th>
                            <!-- <th>Añadir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in cosecha %}
                        <tr id="fila-{{c.codCosecha}}">
                            <td>{{ c.codCosecha }}</td>
                            <td>{{ c.remision }}</td>
                            <td>{% if c.remision.guia %}{{ c.remision.guia }}{% endif %}</td>
                            <td>{{c.fecha|date:'Y/m/d'}} </td>
                            <td>{{c.horaInicio}} - {{c.horaFinal}} </td>
                            <td>{{c.laguna}} </td>
                            <td>{{c.remision.conductor}} </td>
                            <td>{{c.remision.placa.marca}} </td>
                            <td>{{c.remision.placa}} </td>

                            <td>

                                {% if perms.camaron.imprimir_cosecha %}
                                <button type="submit" class="imprimir btn btn-success fas fa-print"
                                    uk-tooltip="Imprimir cosecha" form="formReporteCosecha-{{c.pk}}"></button>
                                {% endif %}

                                {% if perms.camaron.change_cosecha %}
                                <a id="editar-{{c.pk}}" data-editar='{{c.pk}}' 
                                    href="{% url 'camaron:modificar-url' c.pk%}" class="editar "></a>
                                <button data-id="{{c.pk}}" uk-tooltip="Editar cosecha" class="editarCosecha btn btn-info fas fa-pen"></button>
                                {% endif %}
                                {% if perms.camaron.view_cosecha %}
                                <button class="ver btn btn-warning fas fa-eye " uk-tooltip="Visualizar cosecha"
                                    data-ver='{{c.pk}}'></button>
                                {% endif %}


                                <!-- <a data-imprimir='{{c.pk}}' href="" class="imprimir btn btn-success fas fa-print" target="_blank"></a> -->


                                </form>
                            </td>
                            <form action="{% url 'camaron:reporte_cosecha-url' %}" method="post" target="_blank"
                                id="formReporteCosecha-{{c.pk}}">
                                {% csrf_token %}
                                <input type="hidden" name="codCosecha" value="{{c.pk}}" id="">
                            </form>

                            <!-- <td><button class="btn btn-success">Añadir</button></td> -->


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        {% endif %}
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalDetalleCosecha" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Visualización De Nota De Cosecha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalCuerpoCosecha">
                ...
            </div>
            <div class="modal-footer">

                {% if perms.camaron.imprimir_cosecha %}
                <button type="submit" id="imprimir" class="imprimir btn-lg btn-warning fas fa-print"></button>

                {% endif %}

                <button type="button" class="btn-lg btn-secondary fas fa-times" id="cerrarModal"
                    data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Reporte-->
<div class="modal fade" id="modalReporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reporte Mensual</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalCuerpoReporte">
                ...
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary fas fa-times" id="cerrarModal" data-dismiss="modal">
                    Cerrar</button> -->
                <button class="btn-lg btn-warning fas fa-print" id="imprimirReporte"></button>
                <!-- <a href="" class="btn btn-warning fas fa-print" id="imprimirReporte" target="_blank"> Imprimir</a> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGrafico" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reporte Mensual</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalCuerpoGrafico">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-lg btn-secondary fas fa-times" id="cerrarModal" data-dismiss="modal">
                </button>
                <button class="btn-lg btn-warning fas fa-print" id="imprimirGrafico"></button>
                <!-- <a href="" class="btn btn-warning fas fa-print" id="imprimirReporte" target="_blank"> Imprimir</a> -->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalNuevoContenedor" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="guardarNuevo" type="submit" form="formNuevo" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

{% endblock cuerpo %}
{% load static %}
{% block script %}
<script src="{% static 'js/camaron.js'%}"></script>
{% endblock script %}